<h1> Welcome </h1>
<div class="profile">
  <h1> Karl Hansen </h1>
  <img src="karlnmenchi.jpg" />
  <h2> WHAT DO I DO?!?! <h2/>
  <p> I want to learn to code so that I know how to code <p/>
</div>
  <a href="https://allatar.herokuapp.com/read_more"> A link about me! </a>
