.profile {
  background: lightgray;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.profile h1 {
  font-size: 34px;
  color: blue;
}
.profile img {
  width: 600px;
}
html {
  background: ("rivermoss.jpg") no-repeat center fixed
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}